.home {
  margin-top: 20px;
  form {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    margin: 0 auto;
    > * {
      margin-bottom: 5px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .search {
    display: block;
    margin: 2rem auto;
  }
  ul {
    max-width: 60rem;
    margin: 0 auto;
    border: 1px solid aqua;
    padding: 1rem;
    li {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      .lineUp {
        display: flex;
        justify-content: space-between;
      }
      h3 {
        font-size: 2rem;
        text-align: center;
      }
      p {
        font-size: 1.5rem;
      }
    }
  }
}
